---
export const prerender = true;

import { getCollection, getEntryBySlug } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const news = await getCollection("videos");
  return news.map(({ slug, data }) => ({ params: { slug }, props: data }));
}

const { slug } = Astro.params;
const { title, image } = Astro.props;
const video = await getEntryBySlug("videos", slug!);
const { Content } = await video!.render();
---

<Layout title={title}>
  <div class="flex justify-center items-center border-clay-500 border-b">
    <h1 class="text-3xl py-3 font-bold uppercase">{title}</h1>
  </div>
  <main class="flex flex-col p-4 gap-4">
    <iframe
      src="https://www.youtube.com/embed/vg0wOD4sxp8"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
      class="border-0 mh-[40rem] aspect-video"></iframe>
    <Content />
  </main>
</Layout>
