---
import Layout from "../layouts/Layout.astro";
---

<Layout title="about us">
  <div class="flex justify-center items-center border-clay-500 border-b">
    <h1 class="text-2xl py-2 font-medium">ABOUT US</h1>
  </div>
  <div class="p-16 text-center">
    <p class="italic opacity-50 text-2xl">todo</p>
  </div>
</Layout>
