---
import Layout from "../layouts/Layout.astro";
---

<Layout title="about us">
  <div class="flex justify-center items-center border-clay-500 border-b">
    <h1 class="text-2xl py-2 font-medium">ABOUT US</h1>
  </div>
  todo
</Layout>
