---
import ShopItem from "../components/ShopItem.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="shop">
  <div class="flex justify-center items-center border-clay-500 border-b">
    <h1 class="text-2xl py-2 font-medium">SHOP</h1>
  </div>
  <swiper-container
    class="h-[16rem] w-full"
    speed="500"
    loop="true"
    autoplay="true"
    pagination="true"
  >
    <swiper-slide class="flex justify-center items-center">item 1</swiper-slide>
    <swiper-slide class="flex justify-center items-center">item 2</swiper-slide>
    <swiper-slide class="flex justify-center items-center">item 3</swiper-slide>
    <swiper-slide class="flex justify-center items-center">item 4</swiper-slide>
  </swiper-container>
  <div class="flex justify-center items-center border-clay-500 border-y">
    <h1 class="text-2xl py-2 font-medium">ZINES</h1>
  </div>
  <div class="flex">
    <ShopItem id="zine1" title="Zine #1" />
    <div class="w-px border-clay-500 border-r"></div>
    <ShopItem id="zine2" title="Zine #2" />
    <div class="w-px border-clay-500 border-r"></div>
    <ShopItem id="zine3" title="Zine #3" />
    <div class="w-px border-clay-500 border-r"></div>
    <ShopItem id="zine4" title="Zine #4" />
  </div>
  <div class="flex justify-center items-center border-clay-500 border-y">
    <h1 class="text-2xl py-2 font-medium">APPAREL</h1>
  </div>
  <div class="flex">
    <ShopItem id="shirt" title="'Shirt'" />
    <div class="w-px border-clay-500 border-r"></div>
    <ShopItem id="underwear" title="'Underwear'" />
    <div class="w-px border-clay-500 border-r"></div>
    <ShopItem id="condom" title="'Condom'" />
    <div class="w-px border-clay-500 border-r"></div>
    <ShopItem id="pullover" title="'Pullover'" />
  </div>
  <div class="flex justify-center items-center border-clay-500 border-y">
    <h1 class="text-2xl py-2 font-medium">PRINTS</h1>
  </div>
  <div class="flex">
    <ShopItem id="print1" title="Print #1" />
    <div class="w-px border-clay-500 border-r"></div>
    <ShopItem id="print2" title="Print #2" />
    <div class="w-px border-clay-500 border-r"></div>
    <ShopItem id="print3" title="Print #3" />
    <div class="w-px border-clay-500 border-r"></div>
    <ShopItem id="print4" title="Print #4" />
  </div>
  <div class="flex border-clay-500 border-t">
    <div
      class="flex flex-col w-5/12 justify-center h-48 items-center border-clay-500 border-r p-3 gap-y-2"
    >
      <img
        src="https://i.imgur.com/g9fFNs9.png"
        class="h-full object-contain"
      />
    </div>
    <div class="flex flex-col w-7/12">
      <div
        class="w-full flex flex-col justify-center items-center border-clay-500 border-b"
      >
        <h2 class="text-lg py-1">why consumerism is bad</h2>
        <h2 class="text-lg py-1 italic">(unless you are buying from us)</h2>
      </div>
      <p class="m-3">lorem ipsum</p>
    </div>
  </div>
</Layout>
