---
export const prerender = true;

import { getCollection, getEntryBySlug } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const news = await getCollection("news");

  return news.map(({ slug, data }) => ({ params: { slug }, props: data }));
}

const { slug } = Astro.params;
const { title, image } = Astro.props;
const entry = await getEntryBySlug("news", slug!);
const { Content } = await entry!.render();
---

<Layout title={title}>
  <div class="flex justify-center items-center border-clay-500 border-b">
    <h1 class="text-3xl py-3 font-bold uppercase">{title}</h1>
  </div>
  <main class="flex flex-col items-center p-4 gap-4">
    <img src={image} class="h-[30rem] object-contain" />
    <div class="prose prose-stone">
      <Content />
    </div>
  </main>
</Layout>
