---
const { slug, title, preview, image } = Astro.props;
---

<a href={`/news/${slug}`}>
  <div class="container">
    <img src={image} />
    <div class="text-container">
      <h1>{title}</h1>
      <p>{preview}</p>
    </div>
  </div>
</a>

<style>
  a {
    text-decoration: none;
    color: black;
  }

  .container {
    max-height: 20rem;
    display: flex;
    padding: 0.75rem 0;
    gap: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 3px solid transparent;
    transition: all 0.2s ease-out;
  }

  .container:hover {
    border: 3px solid var(--primary-500);
  }

  img {
    height: 8rem;
    width: 8rem;
    flex-shrink: 0;
    object-fit: cover;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .text-container p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }
</style>
