---
import { clsx } from "clsx";

const { slug, title, preview, image, variant = "small" } = Astro.props;
---

<a href={`/news/${slug}`}>
  <div
    class="flex p-2 gap-4 m-2 border-2 border-transparent hover:border-primary-500 transition-all delay-100"
  >
    <img
      src={image}
      class={clsx("shrink-0 object-cover", {
        ["h-32 w-32"]: variant === "small",
        ["h-48 w-48"]: variant === "large",
      })}
    />
    <div class="flex flex-col gap-2">
      <h1 class="text-xl font-bold">{title}</h1>
      <p class="limit">{preview}</p>
    </div>
  </div>
</a>

<style>
  .limit {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }
</style>
