---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👶</text></svg>"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="node_modules/@glidejs/glide/dist/css/glide.core.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"
    ></script>
    <title>james website - {title}</title>
  </head>
  <body>
    <a href="/">
      <div class="logo-container">
        <h1>logo</h1>
      </div>
    </a>
    <div class="content-container">
      <nav>
        <a href="/videos/">videos</a>
        <a href="/news/">news</a>
        <a href="/shop/">shop</a>
        <a href="/about/">about us</a>
      </nav>
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>

<script>
  import Glide from "@glidejs/glide";

  new Glide(".glide").mount();
</script>

<style is:global>
  :root {
    --primary-500: #eac81c;
    --secondary-500: #f09917;
    --dark-500: #f1f1f1;
    --light-500: #dddbd9;
    --text: black;

    font-size: 20px;
  }

  * {
    box-sizing: border-box;
    font-family: "Libre Caslon Text", serif;
  }

  html,
  body {
    height: 100%;
  }

  html {
    background-color: var(--dark-500);
    color: var(--text);
  }

  body {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  h1 {
    font-size: 1.5em;
  }

  body > a {
    text-decoration: none;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 7rem;
    background-color: var(--light-500);
    font-size: xx-large;
  }

  .logo-container h1 {
    color: var(--primary-500);
    text-shadow: 2px 2px 4px var(--primary-500);
  }

  .content-container {
    padding: 0 20vw;
    display: flex;
    flex-direction: column;
  }

  .content-container,
  main {
  }

  nav,
  main {
    display: flex;
  }

  main {
    display: flex;
    flex-direction: column;
    background-color: rgb(0 0 0 / 0.05);
    flex-grow: 1;
  }

  nav {
    justify-content: space-around;
    text-align: center;
  }

  nav a {
    flex-grow: 1;
    padding: 0.4rem;
    font-size: larger;
    text-decoration: none;
    color: black;
    background-color: rgb(0 0 0 / 0.125);
  }

  nav a:nth-child(2n) {
    background-color: rgb(0 0 0 / 0.15);
  }
</style>
